<h1>{{ title }}</h1>
<nav>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a routerLink="/login">登录</a>
    </li>
    <li role="presentation" class="active">
      <a routerLink="/dashborard">Dashboard</a>
    </li>
    <li role="presentation">
      <a routerLink="/heroes">Heroes</a>
    </li>
    <li role="presentation">
      <a routerLink="/admin">admin</a>
    </li>
    <li role="presentation">
      <a routerLink="/news">news</a>
    </li>
    <li role="presentation">
      <a routerLink="/article">article</a>
    </li>
    <li role="presentation">
      <a routerLink="/tplform">模板驱动表单</a>
    </li>
    <li role="presentation">
      <a routerLink="/reactiveform">响应式表单</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
<!-- <app-heros></app-heros> -->
